.element {
  border-radius: 10px;
  background-color: #fff;
  max-width: 282px;
  position: relative;
}

@media only screen and (max-width: 515px) {
  .element {
    width: 100%;
    margin: 0 auto;
  }
}

.element__image {
  max-width: 100%;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.element__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto 31px;
  max-width: 80%;
}

.element__text {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
  max-width: 200px;
}
.elements {
  max-width: 880px;
  margin: 20px auto 67px;
}

@media only screen and (max-width: 890px) {
  .elements {
    max-width: 700px;
  }
}

@media only screen and (max-width: 650px) {
  .elements {
    max-width: 550px;
  }
}

@media only screen and (max-width: 515px) {
  .elements {
    max-width: 450px;
  }
}

@media only screen and (max-width: 320px) {
  .elements {
    margin-bottom: 50px;
  }
}
.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-auto-rows: minmax(361px, auto);
  gap: 17px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 890px) {
  .elements__list {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

@media only screen and (max-width: 500px) {
  .elements__list {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
  }
}
