.navbar {
  background-color: #d1d1d1;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #fad4d4;
}
p {
  display: inline-block;
}


.contact-header {
  padding: 20px 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contact-link {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 24px;
  padding-top: 10px;

  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.contact-link {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}
.contact-link:hover {
  color: indianred;
  background: #b8f1b0;
  position: relative;
}

.logoPic {
  align-self: start;
  width: 100px;
  max-height: auto;
}
.aboutUs {
  
  padding: 10rem 0 10rem 0;
  text-align: center;
  background: url(images/pic5.png) center no-repeat;
  background-size: cover;
  animation: contact-bg 35s infinite;


  width: 100vw;
  height: 100vh;
}
.aboutUs-p {
  font-family: "Sofia", sans-serif;
  text-align: center;
  margin: 10px;
  color: #590995;
}

h1,
h2 {
  padding-top: 20px;
  text-align: center;
  font-family: fantasy;
}

.img {
  width: 200px;
  height: 150px;
  padding: 10px;
}

.bio {
  padding: 30px;
}

.aboutUs-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

/* Contact */
.contact {
  padding: 10rem 0 10rem 0;
  text-align: center;
  background: url(images/pic6.png) center no-repeat;
  background-size: cover;
  animation: contact-bg 35s infinite;
}



.contact-header {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 5rem;
}

.contact-p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 5rem;
}

/* footer */
footer {
  background-color: #333333;
}

footer .r-icon a {
  font-size: 20px;
  color: #5c6b73;
  padding: 10px;
  border: 1px solid #5c6b73;
  border-radius: 50%;
  transform-style: preserve-3d;
}

.button {
  background-color: #ee8683; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* Filters Section */

#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {
  /* make images inline */
  display: flex;
  max-width: 100%;
  padding: 0 1%;
}

@media only screen and (max-width: 600px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}

.r-btn {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}
.icon {
  color: #fff;
  transition: all 0.2s;
}

.icon:hover {
  color: #ee8683;
  transform: rotateZ(360deg);
}

.r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
  transform: rotateY(35deg);
}

.text-muted {
  font-size: 1rem;
}
/* Filters Section */

#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {
  /* make images inline */
  display: flex;
  max-width: 100%;
  padding: 0 1%;
}

@media only screen and (max-width: 600px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}

/* footer for index.html */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4bbe6;   
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(226, 73, 73, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: rgb(8, 2, 2);
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

















