.navbar {
  background-color: #d1d1d1;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #fad4d4;
}
p {
  display: inline-block;
}


.contact-header {
  padding: 20px 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contact-link {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 24px;
  padding-top: 10px;

  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.contact-link {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}
.contact-link:hover {
  color: indianred;
  background: #b8f1b0;
  position: relative;
}

.logoPic {
  align-self: start;
  width: 100px;
  max-height: auto;
}
.aboutUs {
  
  padding: 10rem 0 10rem 0;
  text-align: center;
  background: url(images/pic5.png) center no-repeat;
  background-size: cover;
  animation: contact-bg 35s infinite;


  width: 100vw;
  height: 100vh;
}
.aboutUs-p {
  font-family: "Sofia", sans-serif;
  text-align: center;
  margin: 10px;
  color: #590995;
}

h1,
h2 {
  padding-top: 20px;
  text-align: center;
  font-family: fantasy;
}

.img {
  width: 200px;
  height: 150px;
  padding: 10px;
}

.bio {
  padding: 30px;
}

.aboutUs-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

/* Contact */
.contact {
  padding: 10rem 0 10rem 0;
  text-align: center;
  background: url(images/pic6.png) center no-repeat;
  background-size: cover;
  animation: contact-bg 35s infinite;
}



.contact-header {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 5rem;
}

.contact-p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 5rem;
}

/* footer */
footer {
  background-color: #333333;
}

footer .r-icon a {
  font-size: 20px;
  color: #5c6b73;
  padding: 10px;
  border: 1px solid #5c6b73;
  border-radius: 50%;
  transform-style: preserve-3d;
}

.button {
  background-color: #ee8683; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.r-btn {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}
.icon {
  color: #fff;
  transition: all 0.2s;
}

.icon:hover {
  color: #ee8683;
  transform: rotateZ(360deg);
}

.r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
  transform: rotateY(35deg);
}

.text-muted {
  font-size: 1rem;
}


